

<div *ngIf="livros.length > 0" class="livros-container">
  <h2 class="titulo">Lista de E-books</h2>
  <button class="criar-livro-btn"><a href="criar-livro">Crie seu livro</a></button>
  <div class="search-container">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      (input)="onSearchChange()"
      placeholder="Pesquisar por título ou autor" 
    />
  </div>
  <div class="cards-container">
    <div *ngFor="let livro of filteredLivros" class="livro-card">
      <img src="{{ livro.imageURL }}" class="livro-imagem" alt="{{ livro.titulo }}">
      <div class="livro-infos">
        <h5 class="livro-titulo">{{ livro.titulo }}</h5>
        <p class="livro-autor">{{ livro.autor }}</p>
        <button class="saiba-mais-btn"><a href="livros/{{livro.id}}">Saiba Mais</a></button>
      </div>
      <hr>
    </div>
  </div>
</div>

<div *ngIf="livros.length === 0" class="sem-livros">
  <p>Não há livros disponíveis.</p>
  
  <button class="criar-livro-btn"><a href="criar-livro">Crie seu livro</a></button>
</div>
